* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas1 {
    width: 800px;
    height: 500px;
    border: 4px solid black;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal.modal-show {
    animation: fadeIn 0.1s ease-in-out forwards;
}

.modal.modal-hide {
    animation: fadeOut 0.1s ease-in-out 0.1s forwards;
}

.modal-content {
    position: relative;
    background-color: #fff;
    margin: 2rem;
    padding: 2rem;
    border-radius: 0.25rem;
    width: 50%;
    max-height: 75%;
    overflow: auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

.modal.modal-show .modal-content {
    animation: fadeInDown 0.3s ease-in-out forwards;
}

.modal.modal-hide .modal-content {
    animation: fadeOutUp 0.2s ease-in-out forwards;
}

.modal-content h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.modal-content p {
    margin: 1rem 0;
    line-height: 1.5rem;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.75rem;
    font-weight: bold;
    padding: 0 0.75rem;
    color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    user-select: none;
}

.modal-close:hover,
.modal-close:focus {
    color: rgba(0, 0, 0, 0.5);
}

.hacked {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px rgb(0, 0, 0), 0 0 20px #e6000c, 0 0 30px #e6000c, 0 0 40px #e6000c, 0 0 50px #e6000c, 0 0 60px #e6000c, 0 0 70px #e6000c;
    }
    to {
        text-shadow: 0 0 20px rgb(14, 13, 13), 0 0 30px #ff4d4d, 0 0 40px #ff4d4d, 0 0 50px #ff4d4d, 0 0 60px #ff4d4d, 0 0 70px #ff4d4d, 0 0 80px#ff4d4d;
    }
}

#score,
#password {
    font-size: 26px;
}

#password,
#score,
#explanation {
    text-align: center;
}

#resetButton {
    margin: 0 auto;
    display: block;
    background-color: #0c0c0c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}