* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a2958;
    font-family: 'Zen Dots', cursive;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas1 {
    background-image: url("https://media3.giphy.com/media/UYBDCJjwOd9Re/giphy.gif?cid=790b76115cdefdd24552767941001deb&rid=giphy.gif");
    width: 800px;
    height: 500px;
    border: 2px solid black;
}

.modal {
    font-family: 'Zen Dots', cursive;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal.modal-show {
    animation: fadeIn 0.1s ease-in-out forwards;
}

.modal.modal-hide {
    animation: fadeOut 0.1s ease-in-out 0.1s forwards;
}

.modal-content {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    background-color: rgb(172, 55, 47);
    margin: 2rem;
    padding: 2rem;
    border-radius: 0.25rem;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

.modal-content p {
    font-family: 'Montserrat', sans-serif;
    margin: 1rem 0;
    line-height: 1.5rem;
}

.hacked {
    font-family: 'Zen Dots', cursive;
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px rgb(0, 0, 0), 0 0 20px #171353, 0 0 30px #e6000c, 0 0 40px #141414, 0 0 50px #e6000c, 0 0 60px #462d2d, 0 0 70px #613b3d;
    }
    to {
        text-shadow: 0 0 20px rgb(14, 13, 13), 0 0 30px #221541, 0 0 40px #530f50, 0 0 50px #58195a, 0 0 60px #584e5883, 0 0 70px #97919183, 0 0 80px#f7f0f091;
    }
}

.modal.modal-show .modal-content {
    animation: fadeInDown 0.3s ease-in-out forwards;
}

.modal.modal-hide .modal-content {
    animation: fadeOutUp 0.2s ease-in-out forwards;
}

.modal-content h1 {
    font-family: 'Zen Dots', cursive;
    text-align: center;
    margin-bottom: 2rem;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.75rem;
    font-weight: bold;
    padding: 0 0.75rem;
    color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    user-select: none;
}

.modal-close:hover,
.modal-close:focus {
    color: rgba(0, 0, 0, 0.5);
}

.modal-content-2 {
    font-family: 'Zen Dots', cursive;
    position: relative;
    background-color: #fff;
    border-radius: 0.25rem;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

#password {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
}

#password,
#explanation {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#resetButton {
    font-weight: 1000;
    background-color: #642364;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    margin-top: 100px;
    margin: 0 auto;
    display: block;
}

#startButton {
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    background-color: #642364;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 5px 20px;
    cursor: pointer;
    text-align: center;
}

#startButton:hover,
#resetButton:hover {
    background-image: linear-gradient(to right, #642364, rgb(172, 55, 47), blue, indigo);
    animation: slidebg 2s linear infinite;
}

@keyframes slidebg {
    to {
        background-position: 22vw;
    }
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.content-on-top {
    margin-top: 25vh;
    max-width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spline {
    height: 100vh;
    position: center;
    size: cover;
}

.moving {
    max-width: 1000px;
    margin: 1em auto;
    overflow: hidden;
    position: relative;
    min-height: 8em;
}

#high-score {
    -webkit-animation: urmove 8s linear infinite;
    /* Safari 4.0 - 8.0 */
    white-space: nowrap;
    animation: urmove 8s linear infinite alternate;
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes urmove {
    from {
        right: 0;
    }
    to {
        right: -140px;
    }
}

@keyframes urmove {
    from {
        right: 0;
    }
    to {
        right: -140px;
    }
}

@keyframes early {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.early {
    animation: fadeIn ease-in 1;
    /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    animation-fill-mode: forwards;
    /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    animation-duration: 1s;
    animation-delay: 1.5s
}

#high-score {
    align-items: center;
    margin-top: 5vh;
    white-space: nowrap;
    position: absolute;
    text-transform: uppercase;
    gap: 64px;
    color: beige;
    display: flex;
    align-content: space-between;
    list-style: none;
}

.help-on-top {
    max-width: 20%;
    position: absolute;
    top: 90%;
    left: 96%;
}

#how-to {
    background-color: #000000;
    float: right;
    bottom: 0;
    transition: all ease-in-out 0.01s;
    cursor: pointer;
}

#how-to:hover {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(250, 248, 255);
}